@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBg: rgb(44, 44, 44);

.err {
  color: hsl(0, 94%, 73%);
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
  margin-top: 2rem;
}

body {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.loading {
  color: white;
}

.links {
  a {
    border-bottom: 2px solid transparent;

    color: white;
    letter-spacing: 1px;
    &.active {
      color: black;
      border-color: black;
    }
  }
}

.arrows {
  a {
    text-decoration: none;
    color: black;
    display: block;
    opacity: 1;
    background-color: white;
    font-weight: 900;
    padding: 0.4rem 1rem;
    border: none;
    display: flex;
    border-radius: 0.2rem;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    &:hover {
      background-color: rgb(168, 85, 247);
      color: white;
    }
  }
}
